@font-face {
    font-family: montserrat;
    src: url(/assets/fonts/Montserrat\ \(1\)/);
}

@font-face {
    font-family: merriweather;
    src: url(/assets/fonts/Merriweather/);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
   
  }
  
  .wrapper,
  .content {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .content {
    overflow-x: hidden;
  }
  
  .content .section {
    width: 100%;
    height: 100vh;
  }



  
 .hero {
    background-image: url(/assets/images/black_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    perspective: 500px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }





h1 {
    color: aliceblue;
    /* z-index: 3; Ensure text is above other elements */
    position: relative;
    font-family: montserrat;
}


.Portfolio {

    width: 700px;
    height: 200px;
    position: relative;
    top: 10%;
    
}

.gradient-blue {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {

    color: aliceblue;
    position: relative;
    font-family: montserrat;
    font-size: 70px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    
}

a:hover{
    color: rgba(109, 201, 240, 1);;
}

.about {

    position: relative;
    top: 10;
}

.floating {
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 10px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, -0px);
    }
}